/* Make the image fully responsive */
.carousel-inner img {
  width: 100%;
  height: 100%;
}

/* Custom style to stick list group on top */
.list-group {
  position: sticky;
  top: 15px;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
